asttokens==2.4.1
blinker==1.8.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.1
cramjam==2.8.3
cryptography==42.0.8
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.8
et-xmlfile==1.1.0
executing==2.0.1
fastparquet==2024.2.0
filelock==3.15.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.51.0
fsspec==2024.3.1
greenlet==3.0.3
has==0.0.4
ipykernel==6.29.0
ipython==8.21.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
lxml==5.2.1
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.4
matplotlib-inline==0.1.6
missingno==0.5.2
mysql-connector-python==8.4.0
mysqlclient==2.2.4
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.1.2
packaging==23.2
pandas==2.2.2
parso==0.8.3
pd==0.0.4
pillow==10.3.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pyarrow==16.0.0
pycparser==2.22
Pygments==2.17.2
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pyzmq==25.1.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.2.0
six==1.16.0
SQLAlchemy==2.0.30
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.2
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.43.0
WTForms==3.1.2
